@model IEnumerable<ValueFurniture.Models.ProductListViewModel>

<div class="row">
    @{Html.RenderAction("CategoryMenu", "Home");}
    <div class="col-md-9">
        <div class="row" />
        <h3>Items in Stock</h3>
    </div>
    <div class="row">
        @Html.Partial("_Products", Model)
    </div>
</div>